/**
 * Override variables predefined in SAP Adaptive UI framework
 */


 /**
  * Predefined variables in 'mb' module.
  * Variables is supposed to begin with 'mb-'
  */
@mb-search-width: 400px;
@mb-search-height: 45px;
@mb-search-margin: 15px;
